body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
}

.forgotcontainer {
    width: 380px;
    height: 280px;
    padding: 20px;
    /* background-image: url("../../assets/colorful-sports-balls-stars_1061150-142902.avif"); */
    background-color: #2e3c49;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.forgotcontainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    opacity: 60%; 
    z-index: -1; 
    border-radius: 8px;
}

form {
    background-size: cover;
    background-position: center;
    padding: 3px;
    border-radius: 8px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #fff;
}

.forgotform-group {
    margin-bottom: 15px;
}

.forgotlabel {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.forgotbtn-submit {
    width: 30%;
    padding: 10px;
    background-color: #3f4991;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.text-danger{
    color: brown;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.message-box {
    padding: 10px 20px;
    margin: 15px 0;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    
}

.success-box {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error-box {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
   
}