/* LoginPage.css */
.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color:rgb(0, 0, 0) ;
  background-color: #94a9bf;
  
}
.background {
  background-color: #293f54;
  background-image: url("../../assets/top-view-frame-with-sports-attributes-copy-space_1015293-104040.avif");
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  text-align: center;
  color:black;
  font-family: "Times New Roman", Times, serif;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
}

input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #000000;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2b619b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
  font-family: "Times New Roman", Times, serif;
}

.register-link {
  text-align: center;
  margin-top: 10px;
  font-family: "Times New Roman", Times, serif;
}

.register-link a {
  color: #007bff;
}
